- provide(:title, "My Excuses")
%h2 My excuses
.bs-callout.bs-callout-info
  %h4 Event missing?
  %p If an event you want to submit an excuse for is missing from the drop down menu, please ask your administrator to create that event. It will then appear in the drop down menu.
%table.table.table-striped
  %th Event Name
  %th Event Date
  %th Status
  %th Reason requesting excuse
  =render partial: 'attendance/excuses/excuse', collection: @excuses, as: :excuse

%h2 Submit a new excuse
=render partial: 'attendance/excuses/new_excuse'
