.jumbotron
  %h1 Orgman
  %p It's like having a full time secretary for your student organization!

.row
  .col-md-4
    %h2 Automate Management
    %p Enable your members to modify their own data and keep their personal records up to date. No longer will you need to have someone working to maintain a spreadsheet of all of your organization's members and their info.

  .col-md-4
    %h2 Attendance Tracking
    %p Create events and have members report their own attendance. Alternatively, you can have only the event planner or secretary control who attended.

  .col-md-4
    %h2 Email and Text D-Lists
    %p Automate the maintence of your email distribution lists. OrgMan automatically keeps your email lists up to date with member's information. Additionally, OrgMan maintains text list that allows you to text blast your organization!
