= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  %h2.form-signin-heading Resend unlock instructions
  = devise_error_messages!

  .form-group
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address'

= render 'devise/shared/links'
