%h1 Update User Status
= render partial: 'update_users/status_update', locals: { title: 'To Inactive', status: 'inactive', users: User.active + User.alumni }
= render partial: 'update_users/status_update', locals: { title: 'To Alumni', status: 'alumni', users: User.active + User.inactive }
= render partial: 'update_users/status_update', locals: { title: 'To Active', status: 'active', users: User.alumni + User.inactive }
