<!DOCTYPE html>
%html{ lang: 'en' }
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %h1 Congrats! Your request to join Orgman was approved
    %p Your request to join Orgman was approved! You can now enjoy full privileges of membership.
    %p Login here: http://orgman.io/login
