Sorry, but yout request to register with Orgman was declined
============================================================

Your application was rejected. Please apply agian and correct your mistakes.

Here is a message from the admin who rejected your request:
=@rejection_message
