<!DOCTYPE html>
%html{ lang: 'en' }
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %h1 Sorry, but your request to register with Orgman was declined
    %p Your application was rejected. Please apply again and correct your mistakes.
    %p Here is a message from the admin who rejected your application:
    %p= @rejection_message
