- provide(:title, "Quick Links")
%h1 Quick Links
%table{ class: 'table table-striped' }
  %th Title
  %th Expires
  %th Added By
  =render partial: 'link', collection: @links, as: :link

=render partial: 'create_link'
