/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";


// Border styles for member listing
.member-listing {
  margin: 5px;
  border-style: solid;
  border-width: 2px;
}

// Fix conflict between styles for the org chart and bootstrap
.google-visualization-orgchart-table {
  border-collapse: separate;
}

/* Copied from the bootstrap website
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 20px;
}

.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
  margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
  color: #b94a48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
  color: #c09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
  color: #3a87ad;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
  color: #3c763d;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  border-left-color: #dfb5b4;
}

.bs-callout-warning {
  border-left-color: #c09853;
}

.bs-callout-info {
  border-left-color: #d0e3f0;
}

.bs-callout-success {
  border-left-color: #d6e9c6;
}
